@{
    ViewBag.Title = "Home Page";
}


<div class="col d-flex justify-content-center">
    <div class="jumbotron shadow mb-3" style="" id="user">

    </div>
</div>

<div class="container-fluid" id="repos">

</div>

<div class="container" id="commits_div">
</div>


@section scripts
{
    <script src="~/Scripts/main.js"></script>
}